@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
:root{
  --background: #fff;
  --text-color: #333;
  --primary-color: #bf9456;
  --card-color: #ece8de;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

#preloader{
  background: var(--background) url(../assets/images/preloader.gif) no-repeat center center; 
  background-size: 15%;
  height: 100vh;
  transition: background 300ms ease-in,color 600ms ease-in-out;
  width: 100%;
  position: fixed;
  z-index: 100;
}
* {
  box-sizing: border-box;
   margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  
 }
 
body {
  /* Hide horizontal scrollbar */
  overflow-x: hidden;
  max-width: 100%;
  /* Hide horizontal scrollbar */
  background-color: var(--background);
  color: var(--text-color);
  transition: background 300ms ease-in,color 600ms ease-in-out;
}
 .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  color: var(--text-color);
  word-wrap: break-word;
  background-color: var(--card-color)!important;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}
.card-subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}


.mybutton {
  position: fixed;
  background-color: #bf9456;
  bottom: -4px;
  right: 10px;
  border-radius: 30px;
  cursor: pointer;
  margin: 25px;
  z-index: 1;
  padding: 10px;
}
.light{
  --background:#fff;
  --card-color: #ece8de;
  --text-color: #333;
}.seprator{
  filter:  none!important; 
}
.dark{
  --background:#1a1b26;
  --card-color:#2a2b3d;
  --text-color: white;
}
.dark .seprator{
  filter: invert(1)!important;  
}

 
.theme {
  background-color: var(--text);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid var(--bkg1);
  cursor: pointer;
  display: grid;
  place-items: center;
}

.theme:is(:hover, :focus){
  background-color: var(--accent1);
  opacity: .8;
}
 
/* view all button  */

button a{
  text-decoration: none;
  color: #bf9456;
}
#smallImg img{width:100%}
h1{
  color: var(--text-color);
}
h2{
  color: var(--text-color);
}
p{
  color: var(--text-color);
}
.table{
  color: var(--text-color);
}
.table:hover{
  color: var(--primary-color);
}
#comparebutton{
padding: 15px 25px;
margin: auto;
background-color: var(--card-color);
color: var(--text-color);
text-decoration: none;
border-radius: 13px;
}
#comparebutton:hover{
background-color: var(--primary-color);
 
}
#cover {
  position: relative;
  width: 100%;
  height: 93vh;
  display: block;
  overflow: visible;
  max-width: none !important;
}
#halfCover{
  position: relative;
  width: 100%;
  height: 55vh;
  display: block;
  overflow: visible;
  max-width: none !important;
}
#fullCover{
  width: 100%;
  height: fit-content;
  margin-top: 10px;
  display: block;
  overflow: visible;
  max-width: none !important;
}
#mainContainer {
  opacity: 0.4;
  height: 55vh;
  width: 100%;
}
.bg {
  background: black;
  display: flex;
  justify-content: center;
  /* height: 93vh; */
  width: 100%;
}

#mainImage {
  opacity: 0.4;
  height: 93vh;
  width: inherit;
}

#logoImage {
  position: absolute;
  height: 45vh;
}

#navA {
  color: var(--text-color); 
  border-radius: 8px;
}
.navbar{
  background-color: var(--background);    height: 55px;

}
#navA:hover {
  border-bottom: 1px solid #bf9456;
  color: #bf9456;
}
.dropdown a{
  color:  var(--text-color);
}
.dropdown-menu {
  color:  var(--text-color);
  background-color: var(--background);
}
.dropdown a:hover{
  border-bottom: 1px solid #bf9456;
  color: #bf9456;
  background-color: var(--background);
}
/* product area   */
.productContainer {
  min-height: 60vh;
  margin: 10px 2px;
}

/* product area  */
/* <!-- Quote Area Start  --> */
#quoteIMG {
  opacity: 0.4;
  height: 53vh;
  width: 100%;
}

.quotebg {
  background: black;
  display: flex;
  justify-content: center;
  height: 53vh;
  width: 100%;
}

.quote {
  padding: 15px;
  font-size: xx-large;
}

@media only screen and (max-width: 767px) {

  /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
  @media screen and (min-width: 601px) {
    .quote {
      font-size: 30px;
    }
  }

  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    .quote {
      font-size: 20px;
    }
  }

}

/* Quote Area End  */

/* Cards  */

.card-bg:hover{
   cursor: pointer;
   box-shadow: 0px 5px 15px #bf9456;
   border: 2px solid #bf9456;
   -webkit-transition: .2s;
   transition: .2s;
   -webkit-transform: translateZ(5px) translateY(-20px) scale(1.05);
   transform: translateZ(5px) translateY(-20px) scale(1.05);
  margin-top: 50px;
}
.seeMore {
  padding: 10px 35px;
  text-align: center;
  border: #bf9456 solid 1px;
  color: #bf9456;;
  border-radius: 8px;
}

.seeMore:hover {
  background: #bf9456;
 }
.seeMore:hover {
  color: white;
}

.card-bg {
  background: var(--card-color);
  transition: background 300ms ease-in,color 600ms ease-in-out;
}

.card-subtitle {
  font-size: 14px;
  overflow: hidden;
}

.card-img,
.card-img-top {
  height: -webkit-fill-available;
  
}

/* Home Remedies   */
.post-card {
  width: 25rem;
  height: inherit;
  margin: 25px;
}

.post-card:hover {
  transition: all .7s;
  opacity: 0.8;
  cursor: pointer;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

 
/* Gallery  */
.container-gallery {
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-perspective: 1000;
  perspective: 1000;
  position: relative;
}
.popup-img{
  transform: rotate(-65deg);
}
.popup {
  width: 250px;
  height: 250px;
  background: var(--card-color);
  margin: 0 -25px;
  position: relative;
  box-shadow: 0px 0px 40px -5px rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.popup:hover {
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: translateZ(5px) translateY(-20px) scale(1.05);
  transform: translateZ(5px) translateY(-20px) scale(1.05);
}

.popup-1,
.popup-4 {
  -webkit-transform: translateZ(1px);
  transform: translateZ(1px);
}

.popup-2,
.popup-5 {
  -webkit-transform: translateZ(2px) translateY(-5px);
  transform: translateZ(2px) translateY(-5px);
}

.popup-3 {
  -webkit-transform: translateZ(3px) translateY(-10px);
  transform: translateZ(3px) translateY(-10px);
}

.popup-1:hover~.popup-2 {
  -webkit-transform: translateZ(4px) translateY(-15px);
  transform: translateZ(4px) translateY(-15px);
  -webkit-transition: .2s;
  transition: .2s;
}

.popup-4 {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
}

.popup-4:hover~.popup-5 {
  -webkit-transform: translateZ(3px) translateY(-15px);
  transform: translateZ(3px) translateY(-15px);
  -webkit-transition: .1s;
  transition: .1s;
}

/* Contact Us  */
.btnDiv{
  align-items: center;
}
input:focus, textarea:focus, keygen:focus, select:focus {
  outline: none;
}
::-moz-placeholder {
  color: #666;
  font-weight: 300;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #666;
  font-weight: 300;
}


/* Contact Form Styling */
.container {
  padding: 0 50px 70px;
}
.textcenter {
  text-align: center;
}
.section1 {
  text-align: center;
  display: table;
  width: 100%;
}
.section1 .shtext {
  display: block;
  margin-top: 20px;
}
.section1 .seperator {
  border-bottom:1px solid #a2a2a2;
  width: 35px;
  display: inline-block;
  margin: 20px;
}

.section1 h1 {
  font-size: 40px;
  color: var(--text-color);
  font-weight: normal;
}
 

.section2 {
    width: 1200px;
    margin: 25px auto;
}
.section2 .col2 {
  width: 48.71%;
}
.section2 .col2.first {
  float: left;
}
.section2 .col2.last {
  float: right;
}
.section2 .col2.column2 {
  padding: 0 30px;
}
.section2 span.collig {
  color: #a2a2a2;
  margin-right: 10px;
  display: inline-block;
}
.section2 .sec2addr {
  display: block;
  line-height: 26px;
}
.section2 .sec2addr p:first-child {
  margin-bottom: 10px;
}
.section2 .sec2contactform input[type="text"], 
.section2 .sec2contactform input[type="email"],
.section2 .sec2contactform textarea {
    padding: 18px;
    border: 0;
    background: #EDEDED;
    margin: 7px 0;
}
.section2 .sec2contactform textarea {
  width: 100%;
  display: block;
  color: #666;
  resize:none;
}
.section2 .sec2contactform input[type="submit"] {
  padding: 15px 40px;
    color: #fff;
    border: 0;
    background: #bf9456;
    font-size: 16px;
    text-transform: uppercase;
    margin: 7px 0;
    cursor: pointer;
    border-radius: 25px;
}


.section2 .sec2contactform h3 {
  font-weight: normal;
    margin: 20px 0;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 19px;
    color: var(--text-color);
}

/* @media querries */

@media only screen and (max-width: 1266px) {
  .section2 {
    width: 100%;
  }
  .bx-map{
width: auto;

  }
}
@media only screen and (max-width: 960px) {
  .container {
    padding: 0 30px 70px;
  }
  .section2 .col2 {
    width: 100%;
    display: block;
  }
  .section2 .col2.first {
    margin-bottom: 10px;
  }
  .section2 .col2.column2 {
    padding: 0;
  }
  body .sec2map {
    height: 250px !important;
  }
  .bx-map{
width: 100%;


  }
}
@media only screen and (max-width: 768px) {
  .section2 .sec2addr {
    font-size: 14px;
  }
  .section2 .sec2contactform h3 {
    font-size: 16px;
  }
  .section2 .sec2contactform input[type="text"], .section2 .sec2contactform input[type="email"], .section2 .sec2contactform textarea {
    padding: 10px;
    margin:3px 0;
  }

  
}
@media only screen and (max-width: 420px) {
  .section1 h1 {
    font-size: 28px;
  } 
}
/* Latest Developement  */
#About-d {
  background-color: var(--card-color);
  color: var(--text-color);
}
/* Latest Developement  */
/* Accordion */
.accordion-body {
  color: var(--text-color);
  background: var(--card-color);
}
.accordion-header > .accordion-button{
  color: var(--text-color);
  background: var(--card-color);
}
.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url('../assets/images/down-arrow.png');
}
.accordion-button:not(.collapsed)::after {
  background-image: url('../assets/images/down-arrow.png');
  transform: rotate(-180deg);
}
.accordion-button:not(.collapsed) {
  color: var(--text-color);
  background-color: var(--card-color);
}

/* hair causes  */
/** choose  section **/


.primaryColor {
  color: #bf9456;
}

 .choose_box {
  background: var(--background);
   text-align: center;
   width: -webkit-fill-available;
}
 .choose   {
  /* background: rgb(235, 192, 140); */
  text-align: center;
  width: -webkit-fill-available;
}

  .choose_box span {
  color: var(--text-color);
  display: block;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

 .choose_box h3 {
  color: #00aeef;
  font-size: 25px;
  line-height: 28px;
  font-weight: 500;
  padding-bottom: 10px;
  padding-top: 15px;
}

.choose .choose_box p {
  color: var(--text-color);
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;
}

 
 

 

/** end choose  section **/


/** hairtreatments section **/

.hairtreatments {
   padding: 90px 0;
}

.hairtreatments .titlepage {
  text-align: left;
  padding: 0;
  max-width: 648px;
  width: 100%;
  float: right;
}

.hairtreatments .titlepage h2 {
  color: var(--text-color);
 }
.hairtreatments .titlepage p {
  color: var(--text-color);
  font-size: 17px;
  line-height: 35px;
  font-weight: 400;
  padding-bottom: 50px;
}
.hairtreatments_img {
  padding-right: 30px;
}
.hairtreatments_img figure {
  margin: 0;
}


/** end hairtreatments section **/

/* Our Brands  */
.dark .brand-image{
  filter: invert(1)!important;  
}
.light .brand-image{
  filter:  none!important; 
}

.brand-card{
  display: inline;
  background-color: var(--card-color);
  height: 175px;
  width: fit-content;
}
.brand-card:hover{
  cursor: pointer;
  box-shadow: 0px 5px 15px #bf9456;
  border: 2px solid #bf9456;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: translateZ(5px) translateY(-20px) scale(1.05);
  transform: translateZ(5px) translateY(-20px) scale(1.05);
 margin-top: 50px;
}


/* footer  */
.footer{
  background: var(--card-color);
}