<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/images/logo_main.png" type="image/x-icon">
    <!--   Icons -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css">
    <!-- Boostrap CSS CDN -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>


<body class="dark">
    <script>
        $(document).ready(
            function () {
                savedTheme(document.body),
                    setTimeout(() => {
                        // removeFadeOut(document.getElementById('preloader'), 1000);
                        $('#preloader').fadeToggle("1000");

                    }, 1000); // after 5 sec it will remove.
            });
    </script>

    <!-- <nav class="navbar navbar-expand-lg fixed-top ">
        <div class="container-fluid">
            <img src="../assets/images/logo_main.png" height="45" width="45" alt="">
            <h3 class="mx-auto my-auto">Hair <span style="color: #bf9456;">Care</span></h3>
 
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse j" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item mx-2">
                        <a class="nav-link active" aria-current="page" id="navA" aria-current="page"
                            href="../index.html">Home</a>
                    </li>
                    <div class="dropdown bg-light">
                        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" id="navA" aria-expanded="false">
                            Treatments
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Hair Loss</a></li>
                            <li><a class="dropdown-item" href="#">Graying</a></li>
                            <li><a class="dropdown-item" href="#">Hair Growth</a></li>
                            <li><a class="dropdown-item" href="#">Premature Baldness</a></li>
                        </ul>
                    </div>
                    <li class="nav-item mx-2">
                        <a class="nav-link  " id="navA" aria-current="page" href="#remedies">Home Remedies</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link  " id="navA" aria-current="page" href="../pages/product.html">Products</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link  " id="navA" aria-current="page"
                            href="../pages/equipments.html">Equipments</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav> -->
    <div id="preloader"> </div>

    <nav class="navbar navbar-expand-xl">
        <div class="container-fluid">
            <h2 onclick="window.open('../index.html','_self')"
                style="cursor: pointer; margin-top: 5px; font-family: 'Fredoka One', cursive;">
                HAIR<span style="color: gold;font-family: 'Fredoka One', cursive;">CARE</span></h2>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse j" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item mx-2">
                        <a class="nav-link active" aria-current="page" id="navA" aria-current="page"
                            href="../index.html">Home</a>
                    </li>
                    <div class="dropdown">
                        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Treatments
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="../pages/hairloss.html">Hair Loss</a></li>
                            <li><a class="dropdown-item" href="../pages/graying.html">Graying</a></li>
                            <li><a class="dropdown-item" href="../pages/hairgrowth.html">Hair Growth</a></li>
                            <li><a class="dropdown-item" href="../pages/baldness.html">Premature Baldness</a></li>
                        </ul>
                    </div>
                    <li class="nav-item mx-2">
                        <a class="nav-link  " id="navA" aria-current="page" href="/pages/remediesread.html">Home
                            Remedies</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link  " id="navA" aria-current="page" href="../pages/product.html">Products</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link  " id="navA" aria-current="page"
                            href="../pages/equipments.html">Equipments</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link  " id="navA" aria-current="page" href="../pages/ourbrands.html">Brands</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link  " id="navA" aria-current="page" href="../pages/contactus.html">Contact
                            Us</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

</body>

</html>